<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Hello world!</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='css/main.css')}}" />
</head>
<body>
<div class="container_img" align="middle">
<img src="/static/container.jpg", width="200", height="200">
</div>
<div class="repository" align="middle">
    <b>Repository is </b><a href="url">https://github.com/qdchong11/myrepo</a>
</div>
<div class="words">
    {{e}}
</div>


</body>
</html>